.u-section-1 .u-sheet-1 {
  min-height: 605px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 258px auto 0;
}

.u-section-1 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 301px;
    margin-left: 66px;
    margin-right: 66px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 55px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/Untitleddesign.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 850px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 807px;
  margin: 50px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 291px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 12px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 15px 30px 0;
}

.u-section-2 .u-group-1 {
  width: 119px;
  min-height: 45px;
  height: auto;
  margin: 0 8px 0 127px;
}

.u-section-2 .u-text-2 {
  margin: 8px auto 0;
}

.u-section-2 .u-icon-1 {
  width: 50px;
  height: 50px;
  margin: -6px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: -37px auto 0 50px;
}

.u-section-2 .u-group-2 {
  width: 71px;
  min-height: 45px;
  height: auto;
  margin: -17px 8px 0 175px;
}

.u-section-2 .u-text-4 {
  margin: 8px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 291px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-shape-1 {
  height: 113px;
  width: 113px;
  margin: 0 8px 0 auto;
}

.u-section-2 .u-text-6 {
  margin: -74px 36px 0 101px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 291px;
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 21px 7px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: -1px auto 0 9px;
}

.u-section-2 .u-group-3 {
  min-height: 46px;
  height: auto;
  width: 132px;
  margin: 32px auto 0 49px;
}

.u-section-2 .u-text-8 {
  margin: 0 13px;
}

.u-section-2 .u-group-4 {
  min-height: 45px;
  height: auto;
  width: 119px;
  margin: 49px 24px 0 auto;
}

.u-section-2 .u-text-9 {
  margin: 8px auto 0;
}

.u-section-2 .u-shape-2 {
  width: 29px;
  height: 74px;
  margin: -92px auto 0 69px;
}

.u-section-2 .u-layout-wrap-2 {
  width: 807px;
  margin: 137px auto 60px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 290px;
  background-image: none;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 10px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: 0 20px;
}

.u-section-2 .u-group-5 {
  min-height: 45px;
  height: auto;
  width: 91px;
  margin: 59px 130px 0 12px;
}

.u-section-2 .u-text-11 {
  margin: 8px auto 0;
}

.u-section-2 .u-group-6 {
  min-height: 45px;
  height: auto;
  width: 91px;
  margin: -45px 0 0 auto;
}

.u-section-2 .u-image-1 {
  width: 46px;
  height: 18px;
  margin: 12px auto 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 290px;
  background-image: none;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-icon-2 {
  width: 159px;
  height: 159px;
  margin: -41px auto 0 9px;
  padding: 0;
}

.u-section-2 .u-group-7 {
  min-height: 45px;
  height: auto;
  width: 91px;
  margin: -70px 36px 0 auto;
}

.u-section-2 .u-text-13 {
  margin: 8px auto 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 290px;
  background-image: none;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px 16px;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-8 {
  min-height: 68px;
  height: auto;
  width: 100px;
  margin: 42px 111px 0 11px;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-group-9 {
  min-height: 68px;
  height: auto;
  width: 100px;
  margin: -68px 13px 0 auto;
}

.u-section-2 .u-icon-5 {
  width: 64px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 0;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -90px;
    margin-left: 71px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 49px;
    margin-bottom: 27px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 214px;
  }

  .u-section-2 .u-group-5 {
    height: auto;
  }

  .u-section-2 .u-group-6 {
    height: auto;
  }

  .u-section-2 .u-group-7 {
    margin-top: -69px;
    height: auto;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 214px;
  }

  .u-section-2 .u-group-8 {
    height: auto;
  }

  .u-section-2 .u-group-9 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 282px;
  }

  .u-section-2 .u-group-1 {
    margin-right: 0;
    margin-left: 106px;
  }

  .u-section-2 .u-group-2 {
    margin-right: 0;
    margin-left: 154px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 282px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 73px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 282px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -94px;
    margin-left: 58px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 99px;
    margin-bottom: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-group-5 {
    margin-right: 114px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 191px;
  }

  .u-section-2 .u-group-8 {
    margin-right: 94px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 236px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 8px;
    margin-left: 41px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 94px;
  }

  .u-section-2 .u-group-2 {
    margin-right: 216px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 238px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 1px 10px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 29px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -38px;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    width: 61px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 254px;
  }

  .u-section-2 .u-group-3 {
    min-height: 48px;
    margin-top: 14px;
    margin-left: 161px;
  }

  .u-section-2 .u-group-4 {
    margin-top: 41px;
    margin-right: auto;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -92px;
    margin-left: 175px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 258px;
  }

  .u-section-2 .u-group-5 {
    margin-right: auto;
    margin-left: 114px;
  }

  .u-section-2 .u-group-6 {
    margin-right: 147px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 248px;
  }

  .u-section-2 .u-container-layout-11 {
    padding: 0 10px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 30px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -35px;
    margin-left: auto;
  }

  .u-section-2 .u-group-7 {
    margin-top: -57px;
    margin-right: 196px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 264px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-8 {
    margin-right: auto;
    margin-left: 151px;
  }

  .u-section-2 .u-group-9 {
    margin-right: 166px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 291px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 18px;
    margin-right: 28px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -14px;
    margin-right: 51px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 185px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 219px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-2 .u-group-3 {
    margin-top: -21px;
    margin-left: auto;
  }

  .u-section-2 .u-group-4 {
    margin-top: 51px;
    margin-right: 63px;
  }

  .u-section-2 .u-shape-2 {
    width: 26px;
    margin-top: -96px;
    margin-left: 118px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 307px;
  }

  .u-section-2 .u-group-5 {
    margin-left: 33px;
  }

  .u-section-2 .u-group-6 {
    margin-right: 43px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 275px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -25px;
  }

  .u-section-2 .u-group-7 {
    margin-top: -59px;
    margin-right: auto;
  }

  .u-section-2 .u-text-13 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 336px;
  }

  .u-section-2 .u-group-9 {
    margin-top: -69px;
    margin-right: auto;
    margin-left: 53px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 366px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 96px 0 60px 100px;
}

.u-section-3 .u-icon-1 {
  font-size: 1.3334em;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 414px;
}

.u-section-4 .u-list-1 {
  margin-bottom: 0;
  margin-top: 23px;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 211px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 83px auto 0 10px;
}

.u-section-4 .u-text-1 {
  margin: -56px 0 0 85px;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 83px auto 0 10px;
}

.u-section-4 .u-text-2 {
  margin: -56px 0 0 85px;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 83px auto 0 10px;
}

.u-section-4 .u-text-3 {
  margin: -56px 0 0 85px;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-4 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 83px auto 0 10px;
}

.u-section-4 .u-text-4 {
  margin: -56px 0 0 85px;
}

.u-section-4 .u-text-5 {
  margin: 11px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px auto 60px;
  padding: 0;
}

.u-section-4 .u-icon-5 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 174px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-btn-1 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 533px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    min-height: 739px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 30px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 30px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 30px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 30px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 23px;
    margin-bottom: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.125rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
}

.u-section-5 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 375px;
}

.u-section-5 .u-list-item-1 {
  transition-duration: 0.5s;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-5 .u-text-2 {
  margin: 0 10px;
}

.u-section-5 .u-text-3 {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 1.125rem;
}

.u-section-5 .u-text-4 {
  font-size: 1rem;
  margin: 30px auto 0 10px;
}

.u-section-5 .u-list-item-2 {
  transition-duration: 0.5s;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-5 .u-text-5 {
  margin: 0 10px;
}

.u-section-5 .u-text-6 {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 1.125rem;
}

.u-section-5 .u-text-7 {
  font-size: 1rem;
  margin: 30px auto 0 10px;
}

.u-section-5 .u-list-item-3 {
  transition-duration: 0.5s;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-5 .u-text-8 {
  margin: 0 10px;
}

.u-section-5 .u-text-9 {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 1.125rem;
}

.u-section-5 .u-text-10 {
  font-size: 1rem;
  margin: 30px auto 0 10px;
}

.u-section-5 .u-list-item-4 {
  transition-duration: 0.5s;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-5 .u-text-11 {
  margin: 0 10px;
}

.u-section-5 .u-text-12 {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 1.125rem;
}

.u-section-5 .u-text-13 {
  font-size: 1rem;
  margin: 30px auto 0 10px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 309px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    margin-right: 0;
  }

  .u-section-5 .u-text-12 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

.u-section-5 .u-list-item-1,
.u-section-5 .u-list-item-1:before,
.u-section-5 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-list-item-1.u-list-item-1.u-list-item-1:hover:before {
  background-color: #e5e5e5 !important;
}

.u-section-5 .u-list-item-2,
.u-section-5 .u-list-item-2:before,
.u-section-5 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-list-item-2.u-list-item-2.u-list-item-2:hover:before {
  background-color: #e5e5e5 !important;
}

.u-section-5 .u-list-item-3,
.u-section-5 .u-list-item-3:before,
.u-section-5 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-list-item-3.u-list-item-3.u-list-item-3:hover:before {
  background-color: #e5e5e5 !important;
}

.u-section-5 .u-list-item-4,
.u-section-5 .u-list-item-4:before,
.u-section-5 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-list-item-4.u-list-item-4.u-list-item-4:hover:before {
  background-color: #e5e5e5 !important;
}